/* public/css/components/_ledger.css */
/* Contains styles specific to the Ledger page. */

#ledger-summary-container { 
    display: flex; 
    justify-content: space-around; 
    padding: 15px; 
    margin-bottom: 2rem; 
    background-color: var(--info-panel-bg); 
    border: 1px solid var(--container-border); 
    border-radius: 8px; 
    text-align: center; 
}

.ledger-filters { 
    display: flex; 
    flex-wrap: wrap; 
    gap: 1rem; 
    align-items: center; 
    margin-bottom: 1.5rem; 
    padding: 1rem; 
    background-color: var(--info-panel-bg); 
    border-radius: 8px; 
    border: 1px solid var(--container-border); 
}

.ledger-filters input { 
    width: auto; 
    flex-grow: 1; 
}

/* Style to visually group ledger rows by date */
.new-date-group td { 
    border-top: 2px solid var(--primary-color) !important; 
}