/* public/css/components/_snapshots.css */
/* Contains styles specific to the Snapshots page. */

.snapshot-content-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 40px;
    align-items: start;
}

#add-snapshot-container { 
    background-color: var(--info-panel-bg); 
    padding: 20px; 
    border: 1px solid var(--container-border); 
    border-radius: 8px; 
}