/* public/css/components/_table-widths.css */
/* Contains reusable width classes for all fixed-layout tables */

/* --- Standard Data Columns --- */
.col-ticker    { width: 10%; min-width: 100px; }
.col-exchange  { width: 12%; min-width: 120px; }
.col-date      { width: 11%; min-width: 110px; }
.col-type      { width: 8%;  min-width: 80px;  }
.col-status    { width: 12%; min-width: 100px; }
.col-message   { width: auto; } /* Let message columns take remaining space */

/* --- Numeric Columns --- */
.col-qty       { width: 8%;  min-width: 70px;  }
.col-price     { width: 10%; min-width: 100px; }
.col-pl        { width: 15%; min-width: 150px; }
.col-limits    { width: 13%; min-width: 130px; }

/* --- Special Columns --- */
.col-check     { width: 30px; min-width: 30px; padding-left: 5px; padding-right: 5px; }
.col-actions   { width: 12%; min-width: 150px; }
.col-actions-lg { width: 15%; min-width: 180px; } /* For 4-button rows */