<div id="charts-container" class="page-container" style="display: none;">
    <div class="chart-grid">
    <div class="chart-container"> 
        <h2>All Time Value</h2> 
        <div class="chart-wrapper">
            <canvas id="all-time-chart" class="zoomable-chart"></canvas> 
        </div>
    </div>
    <div class="chart-container"> 
        <h2>Past Five Day Report</h2> 
        <div class="chart-wrapper">
            <canvas id="five-day-chart" class="zoomable-chart"></canvas> 
        </div>
    </div>
    <div class="chart-container"> 
        <h2>By Date Chart</h2> 
        <div class="date-range-header">...</div> 
        <div class="chart-wrapper">
            <canvas id="date-range-chart" class="zoomable-chart"></canvas> 
        </div>
    </div>
    </div>
    
<div class="pl-summary-grid">
    <div class="pl-summary-container">
        <h3>Lifetime Realized P&L Summary</h3>
        <table id="pl-summary-table"></table>
    </div>
    <div class="pl-summary-container">
        <h3>Realized P&L by Date Range</h3>
        <div class="date-range-inputs">
            <input type="date" id="pl-start-date">
            <span>to</span>
            <input type="date" id="pl-end-date">
        </div>
        <table id="pl-summary-ranged-table"></table>
    </div>
</div>

    <div class="portfolio-overview-container container">
        <h2>Portfolio Overview <span id="overview-date"></span></h2>
        <table id="portfolio-overview-table">
            <thead>
                <tr>
                    <th>Ticker</th><th class="numeric">Total Quantity</th><th class="numeric">Avg. Cost Basis</th><th class="numeric">Current Price</th>
                    <th class="numeric">Day's Change ($)</th><th class="numeric">Day's Change (%)</th><th class="numeric">Total Value</th><th class="numeric">Total Unrealized P/L</th>
                </tr>
            </thead>
            <tbody id="portfolio-overview-body"></tbody>
        </table>
    </div>
</div>