<div id="confirm-modal" class="modal">
    <div class="modal-content" style="max-width: 400px;">
        <span class="close-button">&times;</span>
        <h2 id="confirm-modal-title">Confirmation</h2>
        <p id="confirm-modal-body">Are you sure?</p>
        <div class="modal-actions">
            <div class="modal-actions-right">
                <button id="confirm-modal-cancel-btn" class="cancel-btn">Cancel</button>
                <button id="confirm-modal-confirm-btn">Confirm</button>
            </div>
        </div>
        </div>
</div>