<div class="tab-content">
  <h2>Strategy Lab</h2>
  <div class="sub-tabs-container">
    <div class="sub-tabs">
      <button class="sub-tab" data-sub-tab-id="watchlist">Watchlist</button>
      <button class="sub-tab" data-sub-tab-id="paper-trades">Paper Trades</button>
    </div>
    <div id="watchlist-sub-tab-content" class="sub-tab-content">
      <!-- Watchlist content will be loaded here -->
    </div>
    <div id="paper-trades-sub-tab-content" class="sub-tab-content">
      <!-- Paper Trades content will be loaded here -->
    </div>
  </div>
</div>